:root{
  --card-width: 80%;
  --card-border-radius: 8px;
  --card-padding: 20px;
  --card-background-color: #FFFFFF
}
body {
  background-color: #172D3B;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 1200px;
  margin: auto;
}

/* Container holding all elements for the welcome screen */
.welcome-container {
  display: none;
  flex: 1 0 200px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  /* Set height and center vertically */
  height: 100vh;
  align-items: center;
  background-color: #172D3B;
}

.welcome-container.active {
  display: flex;
}

.welcome-card {
  width: var(--card-width);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  background-color: var(--card-background-color);
  box-shadow: 0 0 30px 15px #517388;
}

.welcome-card h1 {
  font-size: 1.3em;
}

.welcome-card span::before {
  content: "\a";
  white-space: pre;
}

.welcome-card button {
  border: none;
  padding: 5px 18px;
  font-weight: bold;
  background: none;
  transition: all 300ms ease-in-out;
  margin: 10px
}

.welcome-card button:focus {
  outline: none;
  font-size: 15px;
  box-shadow: 0 0 5px 2.5px #517388;
  color: white;
  padding: 15px;
  border-radius: 8px;
  background-color: #2C4C60;
  border: 0 solid white
}

.welcome-card button:hover {
  font-size: 15px;
  box-shadow: 0 0 5px 2.5px #517388;
  color: white;
  padding: 15px;
  border-radius: 8px;
  background-color: #2C4C60;
  cursor: pointer;
}

.welcome-card button::after {
  position: relative;
  left: 5px;
  content: "➡️";
  transition: all 500ms ease;
}

.welcome-card button:hover::after {
  display: inline-block;
  opacity: 100%;
  left: 25px;
  scale: 1.5
}

.welcome-card button:active {
  transform: scale(0.98);
}

/* Question Container */
.question-container{
  display: none;
  /* Center section horizontally */
  justify-content: center;
  text-align: center;
  /* Set height and center vertically */
  height: 100vh;
  align-items: center;
}
.question-container.active{
  display: flex;
}
.question-card{
  display: flex;
  flex: 1 1 200px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  box-shadow: 0 0 30px 15px #517388;
  max-width: var(--card-width);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  background-color: var(--card-background-color);
}
.timer{
  margin: 0;
  width: 100%;
}
.question-card ul{
  width: 100%;
  list-style: none;
  padding: 0
}
.question-card li{
  padding: 5px;
  margin-bottom: 10px;
  background-color: #999999;
  border-radius: var(--card-border-radius);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.question-card li:hover{
  scale: 1.05
}
.question-card li.correct {
  background-color: green;
  scale: 1.1;  
}